# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\maxbi\Documents\Schule\2020(PC)\School\Schule\Java\JavaFX\SchulChat\ChatProjectCurrent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
